
.show-random-letter{
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Nunito', sans-serif;
	align-items: center;
	justify-content: center;
}

.btn {
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: white;
  background-color:  #ed3330;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.btn-start{
	background-color: #02BB09;
}

.btn-stop{
	background-color: #3C6BE6;
}

.check-group{
	margin: 40px 0 40px 0;
	display: flex;
	flex-direction: column;
}

.input{
	box-sizing: border-box;
	text-transform: lowercase;
	border: 1px solid black; 
	font-size: 16px;
	height: 30px;
	width: 100%;

}
.input:focus{
	border: 1px solid #02BB09; 

}
.score{
	margin: 20px 0 50px 0;
	font-size: 20px;
}

.word{
	font-size: 30px;
}